:root {
  --background-color: #eeebe6;
  --font-color: #4e4e4e;
  --accent-color: #6d8180;
  --accent-color-too: rgba(255, 255, 0, 0.425);
  --link-color: #bcbcbc;
  --hover-color: rgb(155, 155, 155);
  --font-family: "Rajdhani", sans-serif;
}

p,
h1,
h2 {
  margin: 0;
}

a {
  display: inline-block;
  color: var(--link-color);
  transition: all 300ms ease-in-out;
}

a:hover {
  text-decoration: none;
  color: var(--hover-color);
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  padding-top: 15px;
  text-align: center;
  font-weight: 300;
}

.nav {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: var(--background-color);
}

.disab {
  pointer-events: none;
}

.active {
  color: var(--hover-color);
}

.header {
  padding-top: 80px;
  margin-bottom: 30px;
  font-family: var(--font-family);
}

.hi {
  font-size: 25px;
}

.intro {
  margin-bottom: 140px;
}

.who {
  font-size: 100px;
  line-height: 0.8;
  font-weight: 300;
  max-width: 400px;
  margin: 0 auto 90px;
}

.who span {
  background-color: var(--accent-color-too);
}

.skillset {
  font-size: 30px;
  font-weight: 500;
  color: var(--accent-color);
}

.accent-link {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 300;
  color: var(--hover-color);
  background-color: var(--accent-color-too);
}

.accent-link:hover {
  color: var(--link-color);
}

.projects {
  padding: 5px 15px 30px;
  background-color: white;
  position: relative;
}

.project-list {
  margin-bottom: 30px;
}

.project-image {
  max-height: 500px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.go-up {
  position: absolute;
  bottom: 35px;
  right: 15px;
}

.footer {
  padding: 40px 15px 20px 30px;
}

.contact {
  margin-bottom: 5px;
}

.contact-link-style {
  font-weight: 500;
  color: var(--accent-color);
}

.contact-link-style:hover {
  color: var(--font-color);
}

.contact-location {
  margin-bottom: 20px;
}

.socials-open-source {
  margin-right: 100px;
}

.socials {
  font-size: 20px;
}

.open-source-link {
  font-family: var(--font-family);
}

.location {
  font-size: 15px;
}

@media (max-width: 768px) {
  .header {
    padding-top: 120px;
  }

  .down-deco {
    color: var(--accent-color);
  }

  .intro {
    margin-bottom: 80px;
  }

  .skillset {
    max-width: 300px;
    margin: 0 auto;
  }

  .hi {
    font-size: 20px;
  }

  .who {
    font-size: 65px;
    margin-bottom: 60px;
  }
}
